.git
src/
media/
reference/
node_modules/
!node_modules/serialport
!node_modules/@serialport
!node_modules/debug
!node_modules/ms
!node_modules/node-addon-api
!node_modules/node-gyp-build
tsconfig.json
webpack.config.js
.gitignore
项目记录.md
